<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    @*[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" href="@Url.Content("~/Content/img/Icon")/Globe4.png" />
    <title>@ViewBag.Title - ESSIEN.NET</title>
    @* @Styles.Render("~/bundles/MobileJS")*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    @*@model MainProgram.Core.LoginViewModel*@

    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@

    <script src="~/Content/bootstrap-3.3.7/js/popover.js"></script>
    <script src="~/Content/bootstrap-4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Ad intellisence for searching products-->
    <link href="~/Content/Intellisence/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/Intellisence/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Intellisence/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/mycustom.js"></script>
    <!-- <link href="~/Content/css/Phone.css" rel="stylesheet" />
     // <link href="~/Content/css/mobile/css/Mobile.css" rel="stylesheet" />-->
    <link href="~/Content/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Custom.css" rel="stylesheet" />
    <link rel="stylesheet " media="screen and (min-width:768px; max-width:960px);"
          href="~/Content/bootstrap-3.3.7/dist/css/bootstrap.css" />




    @using MainProgram.Core.Resources
    @using MainProgram.Edm
    @*@using Microsoft.AspNet.Identity*@
    @using MainProgram.Core.Provider
    @model MainProgram.Core.LoginViewModel



    @{
        angulardemoEntities dbm = new angulardemoEntities();
        var CSharpCat = dbm.CSharps.Where(c => c.DepartmentID == c.DepartmentID).ToList();

    }

    @{

        var cartObj = Session[Constants.CookieCart];
        var quantity = 0;
        try
        {
            var cart = (MainProgram.Models.Orders.CartViewModel)cartObj;
            quantity = cart == null || cart.tbh_Products1 == null ? 0 : cart.tbh_Products1.Count;
        }
        catch (Exception)
        {
        }



    }





    @*<script type="text/javascript">
            $(function () {
                $("#searchTxtBox").autocomplete({
                    source: '@Url.Action("item","Product")'
                });
            });
        </scrip>*@



    @* <!--Menu drop down-->
        <script>
            $(document).ready(function () {
                $('.nav li> .dropdown-menu').parent().hover(function () {
                    var Model = $(this).children('.dropdown-menu');
                    if ($(Model).is(':hidden')) {
                        $(Model).slideDown(400);
                        // $(Model).delay(2000);
                        // $('.nav li').slideDown("slow");
                    } else {
                        $(Model).slideUp(400);
                    }
                });
            })

        </script>*@



    <script type="text/javascript">
        $(function () {
            $("#category").change(function () {
                // alert("CSharp Seaching OK......");
                $("#form1").submit();
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover({
                container: 'body'
            })
        })
    </script>

    <style>
        .mainbar {
            border: 0;
            border-bottom-width: 0px;
            height: 50px;
            text-align: center;
            padding: 0 0px;
            width: 100%;
            display: flex;
            flex-flow: row;
        }

        .mainbar-right {
            float: right;
            flex-flow: row;
            text-align: center;
            padding: 0 0px;
        }
    </style>



</head>
<body>

    <div class="menu-area no-padding no-gutter" style="width:100%; border:none; color:white">
        <!--Top-->
        <div id="fadeshow1" class="row mt-4 mb-6 mb-12" style="background-color:transparent">

            <div class="row mt-4 mb-6 mb-12">
                <table style=" text-align:center; width:100%">
                    <tr>
                        <td style="margin-left:22px; float:left">

                            <div class="list-unstyled list-inline mb-0" style="margin-right:22px">
                                <c style="color:inherit">
                                    <b style="color:#888; margin-right: 15px; margin-left:20px">Direction:</b>
                                    <a href="http://www.facebook.com/">
                                        <c style="color:#000">Contacting<b style="color:inherit"> ©Info</b></c>
                                    </a>
                                </c>


                                <c style="color:#000"><i><img src="~/Content/images/icons-png/cell.jpg" style="width:20px; height:20px;" /></i><b style="color:inherit">404-447-3025</b></c>


                            </div>
                        </td>


                        <td style="float:none">

                            <div class="list-unstyled list-inline mb-0">
                                <a style="margin-right:15px" href="https://facebook.com/sharer.php?u=http://arunendapally.com/post/protect-your-source-code-from-decompiling-or-reverse-engineering">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a style="margin-right:15px" href="#"><span class="fa fa-twitter"></span></a>
                                <a style="margin-right:15px" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http://arunendapally.com/post/protect-your-source-code-from-decompiling-or-reverse-engineering&amp;title=Protect your source code from decompiling or reverse engineering"><span class="fa fa-google-plus"></span></a>
                                <a style="margin-right:15px" href="#"><span class="fa fa-youtube"></span></a>
                                <a style="margin-right:15px" href="#"><span class="fa fa-linkedin"></span></a>
                                <a href="https://plus.google.com/share?url=http://arunendapally.com/post/protect-your-source-code-from-decompiling-or-reverse-engineering"><span class="fa fa-plus.google"></span></a>

                            </div>
                        </td>




                        <td style="margin-right:50px; float:right">
                            <div class="list-unstyled list-inline mb-0" style="margin-right:30px">
                                <a href="#" class="font-italic" style="color:blue;  text-decoration-line:none; padding-bottom:0px">
                                    <strong id="cartB">@{Html.RenderAction("CartSummary", "Cart");}</strong>
                                </a>
                            </div>
                        </td>
                        <td style="margin-right:20px; float:right">
                            <div class="list-unstyled list-inline mb-0">
                                <a href="@Url.Action("Procedure", "Pages")" style="color:inherit"><span class="fa fa-cc-pricaycu"><a href="@Url.Action("Procedure", "Pages")">SUPPORT</a></span></a>
                            </div>
                        </td>
                        <td style="margin-right:20px; float:right">
                            <div class="list-unstyled list-inline mb-0">
                                <a href="@Url.Action("Procedure", "Pages")">
                                    <span class="fa fa-cc-pricaycu">FAQ</span>
                                </a>
                            </div>
                        </td>
                        <td style="margin-right:20px; float:right">
                            <div class="list-unstyled list-inline mb-0">
                                <a href="@Url.Action("Procedure", "Pages")" style="color:inherit"><span class="fa fa-cc-pricaycu"><a href="@Url.Action("Procedure", "Pages")">BLOG</a></span></a>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>







        </div>









        <div id="bcolor" class="menu-area no-padding no-gutter col-md-4 col-md-6 col-md-12" style="width:100%; height:60px; color:white; margin-bottom:0px;  background-color:transparent;">
            <div class="mainbar  text-dark border-bottom shadow-sm " style=" width:100%; background-color:transparent;">
                <table style="text-align:center; width:100%; margin-bottom:0px;background-color:transparent; ">
                    <tr>
                        <td>
                            <div class=" navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false" style="background-color:#585858; border:none">
                                    <span class="sr-only" style="color:white">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="@Url.Action("Index","Home")">
                                    <img src="~/Content/img/FrontSlider/black52.png" style="width:80px; height:60px;padding-left:10px; padding-top:0px; padding-bottom:0px; float:left; margin-right:20px;" />
                                </a>
                            </div>

                            <!--Search-->
                            <div class="aa-header-top-left" style="height:50px; border-color:none; color:black; text-decoration:none; padding-top:10px; float:left; margin-right:20px;">

                                <div class="inner-addon right-addon col-md-5">
                                    <form action="@Url.Action("CSharpIndex", "Search")" method="get" id="form1">
                                        <a href="@Url.Action("CSharpIndex", "Search")"><i type="submit" value="Search" class="fa fa-search" style="color:black"></i></a>

                                        <input type="text" id="searchString" name="searchString" value="@ViewBag.searchString" class="form-control" placeholder="Search for..." style="max-width:450px; min-width:450px; height:40px; margin-top:0px; border-radius:20px" />


                                    </form>


                                </div>

                            </div>

                            <div class="collapse navbar-collapse" id="alignment-example" style="float:right;">

                                <ul id="nav" class="list-unstyled list-inline mb-0" style=" color:white; background-color:transparent;">

                                    <!--logo-->
                                    <li class="aa-header-top-left" style="height:50px; border-color:none; color:white; text-decoration:none; padding-top:0px; float:left; margin-right:20px;">

                                        <div>

                                            <a href="@Url.Action("Index", "Home")">
                                                @* <img src="/Content/images/icons-png/Home3.png" style="width:20px; height:20px;" />*@
                                                <c class="font-italic" style="color:white; text-decoration-line:none; font-size:14px">
                                                    <br />
                                                    <strong style="text-align:center">
                                                        <img src="~/Content/images/icons-png/home7.png" style="width:30px; height:30px; padding-bottom:12px" />
                                                    </strong>
                                                </c>

                                            </a>

                                        </div>

                                    </li>





                                    <!--About-->
                                    <li class="aa-header-top-left" style="height:50px; border-color:none; color:white; text-decoration:none; padding-top:0px; float:left; margin-right:20px;">

                                        <div>

                                            <a href="@Url.Action("About", "Home")">
                                                @* <img src="/Content/images/icons-png/Home3.png" style="width:20px; height:20px;" />*@
                                                <c class="font-italic" style="color:white; text-decoration-line:none; font-size:14px">
                                                    <br />
                                                    <strong style="text-align:center; font-size:14px">About</strong>
                                                </c>

                                            </a>

                                        </div>

                                    </li>



                                    <!--Contact-->
                                    <li class="aa-header-top-left" style="height:50px; border-color:none; color:white; text-decoration:none; padding-top:0px; float:left; margin-right:20px;">

                                        <div>

                                            <a href="@Url.Action("Contact", "Home")">
                                                @* <img src="/Content/images/icons-png/Home3.png" style="width:20px; height:20px;" />*@
                                                <c class="font-italic" style="color:white; text-decoration-line:none; font-size:14px">
                                                    <br />
                                                    <strong style="text-align:center; color:white; font-size:14px">Contact</strong>
                                                </c>

                                            </a>

                                        </div>

                                    </li>


                                    <!--Store-->
                                    <li class="presentation" style=" height:50px; border-color:none; color:black; text-decoration:none; padding-top:0px; float:left; margin-right:27px; padding-bottom:0px; background-color:transparent ">

                                        <div>

                                            <c class="font-italic" style="color:black; text-decoration-line:none;font-size:14px ">

                                                <img src="~/Content/images/icons-png/cartB.png" style="width:15px; height:20px; padding-top:8px; border-radius:100%" /><br />
                                                <a href="@Url.Action("Index", "Product")">

                                                    <span style="color:white">
                                                        Store
                                                    </span>

                                                </a>

                                            </c>



                                        </div>

                                    </li>










                                    <!--Login-->
                                    <li class="presentation" style=" height:50px; border-color:none; color:black; text-decoration:none; padding-top:0px; float:right; margin-right:27px; padding-bottom:0px; background-color:transparent ">

                                        <div>

                                            @{

                                                if (User.Identity.IsAuthenticated == false)
                                                {




                                                    <c class="font-italic" style="color:black; text-decoration-line:none;font-size:14px ">

                                                        <img src="~/Content/images/icons-png/userB2.jpg" style="width:15px; border-radius:100%" ; height:15px; padding-top:3px" /><br />
                                                        <c class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                                            <span class="plus dropdown-toggle" data-toggle="modal" data-target="#tabModal" style=" color:white">
                                                                Login

                                                            </span>

                                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                                            {
                                                                @Html.AntiForgeryToken()


                                                                if (User.Identity.IsAuthenticated)
                                                                {





                                                                    <div id="products-menu" class="dropdown-menu clearfix" role="menu" row mt-4 mb-6 mb-12" style="width:100%; height:500px; right:0px; margin-left:0px; left:0px">

                                                                        <div class=" border-top " style="background-color: transparent; color:black; width:100%; margin-left:0px; margin-right:0px; height:200px; position:static">
                                                                            <div class="col-md-3" style="padding-right:0px; padding-left:40px">

                                                                                <div id="why_buy">
                                                                                    <div class="info_right" style="padding-right:0px; padding-left:20px">

                                                                                        <ul class="dropdown-menu" style="background-color:white; color:black">
                                                                                            <li><a href="@Url.Action("UserProfile", "Account")"><i class="fa fa-user"></i> @Resource.Profile</a></li>
                                                                                            @* <li><a href="@Url.Action("GetUserProfileByIdAsync", "Account")"><i class="fa  fa-sign-out"></i>ID</a></li> *@
                                                                                            <li><a href="@Url.Action("UserProfile", "Account")"><i class="fa fa-list-alt fa-fw"></i> @Resource.Orders</a></li>
                                                                                            <li role="presentation" class="dropdown">
                                                                                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa  fa-sign-out"></i>@Resource.LogOut</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>

                                                                                </div>
                                                                            </div>






                                                                        </div>





                                                                    </div>

                                                                }
                                                            }



                                                        </c>

                                                    </c>

                                                }
                                            }

                                        </div>

                                    </li>


                                    <!--Acct Profile-->

                                    <li class="aa-header-top-left" style="height:35px; border-color:none; color:black; padding-bottom:0px; padding-top:0px; float:right">


                                        <ul lass="navbar navbar-default" role="navigation" navbar-collapse=navbar-collapse no-gutter=no-gutter no-padding"style="position: center; margin: auto;  background-color:#fcfafa;  color:black">

                                            @{




                                                if (User.Identity.IsAuthenticated)
                                                {



                                                    <li role="presentation" class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Login", "Account")" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <div style="padding-left:5px; padding-top:5px">
                                                                @*<img src="~/Content/images/icons-png/user-black.png" style="width:10px; height:9px;" />More<br />

                                                                *@
                                                                <img src="~/Content/images/icons-png/user-white.png" type="hidden" style="width:20px; height:20px; padding-top:5px; border-radius:50%; color:white" /><br /><b style="color:white">
                                                                    Acct
                                                                    <span class="caret"></span>
                                                                </b>
                                                            </div>
                                                        </a>


                                                        <ul class="dropdown-menu" style="background-color:white; color:black">
                                                            <li><a href="@Url.Action("UpdateProfilePicAsync", "Account")"><i class="fa  fa-sign-out"></i> @Resource.Profile</a></li>
                                                            @* <li><a href="@Url.Action("GetUserProfileByIdAsync", "Account")"><i class="fa  fa-sign-out"></i>ID</a></li> *@
                                                            <li><a href="@Url.Action("Index", "Account")"><i class="fa  fa-sign-out"></i> @Resource.Orders</a></li>
                                                            <li role="presentation" class="dropdown">
                                                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa  fa-sign-out"></i>@Resource.LogOut</a>
                                                            </li>

                                                        </ul>

                                                    </li>


                                                }

                                            }


                                        </ul>


                                    </li>





                                    <!--Technology 1-->
                                    <li class="presentation" style=" height:50px; border-color:none; color:black; text-decoration:none; padding-top:0px; float:left; margin-right:27px; padding-bottom:0px; background-color:transparent ">

                                        <div>





                                            @* <img src="/Content/images/icons-png/Home3.png" style="width:20px; height:20px;" />*@
                                            <c class="font-italic" style="color:black; text-decoration-line:none;font-size:14px ">

                                                <img src="~/Content/images/icons-png/plus-white.png" style="width:15px; height:15px; padding-top:3px" /><br />
                                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                                    <span class="plus dropdown-toggle" style=" color:white">
                                                        Technology
                                                        <span class="caret"></span>
                                                    </span>



                                                    @* <img src="/Content/images/icons-png/Home3.png" style="width:20px; height:20px;" />*@


                                                    <div id="products-menu" class="dropdown-menu clearfix" role="menu" row mt-4 mb-6 mb-12" style="width:100%; height:500px; right:0px; margin-left:0px; left:0px">

                                                        <div class=" border-top " style="background-color: transparent; color:black; width:100%; margin-left:0px; margin-right:0px; height:200px; position:static">
                                                            <div class="col-md-3" style="padding-right:0px; padding-left:40px">

                                                                <div id="why_buy">
                                                                    <div class="info_right" style="padding-right:0px; padding-left:20px">
                                                                        <h5 class="text-left mb-3">Explore Programming Skills?</h5><hr />
                                                                        <ul>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "CSharp")" style="color:#000;">C#</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "DotNet")" style="color:#000;">.Net</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "Mvc")" style="color:#000;">Asp.Net MVC</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "AspWebform")" style="color:#000;">Asp.Net</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "NetCore")" style="color:#000;">Asp.Net Core s</a></li>
                                                                            ........................
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "WebApi")" style="color:#000;">Web API</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">WPF</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#000;">Blog</a></li>
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="col-md-3" style="padding-right:0px">

                                                                <div id="why_buy">
                                                                    <div class="info_right" style="padding-right:0px">
                                                                        <h5 class="text-left mb-3">Explore Home Features?</h5><hr />
                                                                        <ul>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "Angular")" style="color:#000;">Angular </a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "React")" style="color:#000;">React</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "Java")" style="color:#000;">Java</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Tutorial", "JqJa")" style="color:#000;">Java Script</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Git and GitHub</a></li>
                                                                            ..................................
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "Java")" style="color:#000;">HTML5</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Ajax</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Google API</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="col-md-3" style="padding-right:0px">

                                                                <div id="why_buy">
                                                                    <div class="info_right" style="padding-right:0px">
                                                                        <h5 class="text-left mb-3">Explore Home Features?</h5><hr />
                                                                        <ul>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>About Us</b></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "EntityF")" style="color:#000;">Entity Framework</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "CSS")" style="color:#000;">CSS</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Html5</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Bootstrap</a></li>
                                                                            ......................

                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Google API</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Other</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">WCF</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="col-md-3" style="padding-right:0px">

                                                                <div id="why_buy">
                                                                    <div class="info_right" style="padding-right:0px">
                                                                        <h5 class="text-left mb-3">Explore Home Features?</h5><hr />
                                                                        <ul>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "Databases")" style="color:#000;">SQL Server</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "DBA")" style="color:#000;">Oracle</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "NoSql")" style="color:#000;">MongoDB</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">MySql</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Other</a></li>
                                                                            ........................
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Google API</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">Other</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="" style="color:#000;">WCF</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>




                                                        </div>





                                                    </div>
                                                </a>

                                            </c>



                                        </div>

                                    </li>


                                    <!--Services-->
                                    <li role="presentation" style=" height:50px; border-color:none; color:black; text-decoration:none; padding-top:2px; float:right; margin-right:15px; padding-bottom:0px; background-color:transparent ">

                                        <div>





                                            @* <img src="/Content/images/icons-png/Home3.png" style="width:20px; height:20px;" />*@
                                            <c class="font-italic" style="color:black; text-decoration-line:none;font-size:14px ">

                                                <img src="~/Content/images/icons-png/grid-white.png" style="width:12px; height:12px;" /><br />
                                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                                    <span class="plus dropdown-toggle" style="color:white">
                                                        Services
                                                        <span class="caret"></span>
                                                    </span>

                                                    <div id="servi1" class="dropdown-menu row mt-4 mb-6 mb-12" style="width:100%; height:600px; right:0px; margin-left:0px; left:0px">

                                                        <div class=" border-top " style="background-color: transparent; color:black; width:100%; margin-left:0px; margin-right:0px; height:600px; position:relative">
                                                            <div id="drop1" class="col-md-3" style="padding-right:0px; padding-left:40px">

                                                                <div id="why_buy">
                                                                    <div class="info_right" style="padding-right:0px; padding-left:20px">
                                                                        <h5 class="text-center mb-3">Explore Home Features?</h5><hr />
                                                                        <ul>
                                                                            <li>
                                                                                <i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>
                                                                                <img src="~/Content/img/Books/CBeginners.jpg" style="width:20px; height:20px;" /><br />
                                                                                <c href="">
                                                                                    <strong class="plus dropdown-toggle" style="text-align:center;  font-size:14px; background-color:#fff; padding:3px;border-radius:5px ">Servi1</strong>
                                                                                </c>
                                                                            </li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#000;">Policies & Procedure  </a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#000;">Blog</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Photos", "Pages")" style="color:#000;">Site Photos & Contributers</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Photos", "Pages")" style="color:#000;">Site Photos & Contributers</a></li>
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="col-md-3" style="padding-right:0px">

                                                                <div id="why_buy">
                                                                    <div class="info_right" style="padding-right:0px">
                                                                        <h5 class="text-center mb-3">Explore Home Features?</h5><hr />
                                                                        <ul>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>About Us</b></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#000;">Policies & Procedure  </a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#000;">Blog</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Photos", "Pages")" style="color:#000;">Site Photos & Contributers</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Photos", "Pages")" style="color:#000;">Site Photos & Contributers</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="col-md-3" style="padding-right:0px">

                                                                <div id="why_buy">
                                                                    <div class="info_right" style="padding-right:0px">
                                                                        <h5 class="text-center mb-3">Explore Home Features?</h5><hr />
                                                                        <ul>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>About Us</b></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#000;">Policies & Procedure  </a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#000;">Blog</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Photos", "Pages")" style="color:#000;">Site Photos & Contributers</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Photos", "Pages")" style="color:#000;">Site Photos & Contributers</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="col-md-3" style="padding-right:0px">

                                                                <div id="why_buy">
                                                                    <div class="info_right" style="padding-right:0px">
                                                                        <h5 class="text-center mb-3">Explore Home Features?</h5><hr />
                                                                        <ul>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>About Us</b></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#000;">Policies & Procedure  </a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#000;">Blog</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Photos", "Pages")" style="color:#000;">Site Photos & Contributers</a></li>
                                                                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Photos", "Pages")" style="color:#000;">Site Photos & Contributers</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>


                                                    </div>
                                                </a>

                                            </c>



                                        </div>

                                    </li>
















                                    <!--modal-Login

            <li class="aa-header-top-left" style="height:50px; border-color:none; color:black; padding-bottom:0px; padding-top:5px; float:right">


                <div>
                    <a href="#">
                        <img src="~/Content/images/icons-png/User3.png" style="width:20px; height:20px;" /><br />
                        <c class="font-italic" data-toggle="modal" data-target="#tabModal" style="color:black; text-decoration-line:none; padding-bottom:10px">
                            Logi
                        </c>
                    </a>
                </div>
            </li>-->
                                    <!---Login
            <li class="aa-header-top-left" style="height:50px; border-color:none; color:black; padding-bottom:0px; padding-top:5px; float:right;">


                <div>
                    <a href="@Url.Action("Login", "Account")">
                        <img src="~/Content/images/icons-png/User3.png" style="width:20px; height:20px;" /><br />
                        <c class="font-italic"  style="color:black; text-decoration-line:none; padding-bottom:10px">
                            Login
                        </c>
                    </a>
                </div>
            </li>-->
                                    <!--Search
            <li class="aa-header-top-left" style="height:50px; border-color:none; color:black; text-decoration:none; padding-top:3px; float:right; margin-right:20px;">

                <div class="inner-addon right-addon col-md-5">
                    <form action="@Url.Action("CSharpIndex", "Search")" method="get" id="form1">
                        <a href="@Url.Action("CSharpIndex", "Search")"><i type="submit" value="Search" class="fa fa-search" style="color:black"></i></a>

                        <input type="text" id="searchString" name="searchString" value="@ViewBag.searchString" class="form-control" placeholder="Search for..." style="max-width:450px; min-width:450px; height:40px; margin-top:5px" />


                    </form>


                </div>

            </li>-->









                                </ul>

                            </div>







                        </td>
                    </tr>
                </table>

            </div>
        </div>








        <div style=" border-bottom: solid thin 1px; border-top-color:white; padding-left: 3px; height:25px; background-color:transparent">
            <div class="mainbar text-dark" style=" width:100%;">

                <table style="text-align:center; width:100%;">
                    <tr>
                        <td>
                            <!-- Left nav -->
                            <ul class="nav navbar-nav center-block  navbar-collapse  no-gutter no-padding" role="navigation" style="position: center;">





                                <li style=" border-color:none; color:black;  float:left; margin-right:27px">


                                    <ul style="position: center; margin: auto;  background-color:transparent;  color:black">


                                        <li>
                                            <c>
                                                <div>


                                                    <!-- <a tabindex="0" class="btn btn-secondary" role="button" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Dismissible popover" data-content="Vivamus
                                                    sagittis lacus vel augue laoreet rutrum faucibus."> Pop on bottom

                                                    </a>-->


                                                </div>
                                            </c>

                                        </li>

                                    </ul>
                                </li>






                            </ul>
                        </td>
                    </tr>

                </table>
            </div>

        </div>





    </div>

    @RenderBody()



    <div class="footer border-top shadow-sm" style="margin-bottom: 0px; border-top: solid 1px; border-color:#585858; width:100%">


        <div class="row mt-4 mb-6 mb-12" style="background-color: #888">

            <div class="col-md-2" style="text-align:left; padding-left:6%">

                <div id="why_buy">
                    <div class="info_right">
                        <!-- <h5 class="text-center mb-3">Explore Home Features?</h5>-->
                        <ul>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>About Us</b></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#fff;">Policies  </a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Procedure", "Pages")" style="color:#fff;">Blog</a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Photos", "Pages")" style="color:#fff;">Contributers</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-2" style="text-align:left; padding-left:6%">

                <div id="why_buy">
                    <div class="info_right">
                        <!-- <h5 class="text-center mb-3">Explore Our Services?</h5>-->
                        <ul>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>Services </b></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="#" style="color:#fff;">Photos </a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("AdminIndex", "NoteList")" style="color:#fff;">NoteList</a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "NoteList")" style="color:#fff;">NoteList</a></li>
                        </ul>
                    </div>
                </div>

            </div>


            <div class="col-md-2" style="text-align:left; padding-left:6%">

                <div id="why_buy">
                    <div class="info_right">
                        <!-- <h5 class="text-center mb-3">Explore Our Services?</h5>-->
                        <ul>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>Services</b></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="#" style="color:#fff;">Photos </a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("AdminIndex", "NoteList")" style="color:#fff;">NoteList</a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("GetPosts", "NoteList")" style="color:#fff;">NoteList</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-2" style="text-align:left; padding-left:6%">

                <div id="why_buy">
                    <div class="info_right">
                        <!-- <h5 class="text-center mb-3">Programs?</h5>-->
                        <ul>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>Store</b></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Shop", "Home")" style="color:#fff;">Store</a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="#" style="color:#fff;">Orders </a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="#" style=" color:#fff;">Profile</a></li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-2" style="text-align:left; padding-left:6%">

                <div id="why_buy">
                    <div class="info_right">
                        <!-- <h5 class="text-center mb-3">Programs?</h5>-->
                        <ul>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>Orders</b></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="@Url.Action("Shop", "Home")" style="color:#fff;">Store</a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="#" style="color:#fff;">Orders </a></li>
                            <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><a href="#" style=" color:#fff;">Profile</a></li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-2" style="text-align:left; padding-left:6%">

                <div id="why_buy">
                    <div class="info_right">
                        <!--<h5 class="text-center mb-3">Information?</h5>-->
                        <ul>
                            <li>
                                <a href="/DownLoadLink/downloadlink" title="List View" class="links" style="background-color:#888">
                                    <img alt="List View" src="@Url.Content("~/Content/img/ApparelImages/Essien.jpg")" style="width:38px; height:38px; border-radius:50%" />
                                </a>
                            </li>

                            <li><strong class="aa-footer-nav">Developer</strong></li>
                            <li>
                                <a href="/DownLoadLink/downloadlink" class="btn-rounded" style="background-color:#888; color:#fff">
                                    <i class="fa fa-fa fa-arrow-right"></i><b style="color:white">View blog</b>
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Subscribe", "News")" class="btn-rounded" style="background-color:#888; color:#fff">
                                    <i class="fa fa-fa fa-arrow-right"></i><b style="color:white"> Sign up!</b>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>





        <div class="row mt-4 mb-6 mb-12" style=" background-color: #585858;">

            <div class="row mt-4 mb-6 mb-12">
                <table style=" text-align:center; width:100%">
                    <tr>
                        <td style="margin-left:22px; float:left; padding-left:7% ">

                            <div class="list-unstyled list-inline mb-0" style="margin-left:22px">
                                <c style="color:inherit">
                                    <b style="color:#fff"> Designed by</b>
                                    <a href="http://www.facebook.com/">
                                        <b style="color:inherit">Peter Agyekum Essien:</b>
                                    </a>
                                </c>
                                <c style="color:#fff">Copyright <b style="color:inherit"> ©2020</b></c>

                                <c style="color:#585858;">



                                    <!-- BEGIN: Powered by Supercounters.com -->

                                    <script type="text/javascript" src="//widget.supercounters.com/ssl/online_t.js"></script>



                                    <script type="text/javascript">sc_online_t(1601083, "585858", "585858");</script><noscript><a href="https://www.supercounters.com/">supercounters.com</a></noscript>

                                    <!-- END: Powered by Supercounters.com -->

                                </c>


                            </div>
                        </td>




                        <td style="float:none">
                            <div class="list-unstyled list-inline mb-0">
                                <a href="#"><span class="fa fa-cc-mastercard"></span></a>
                                <a href="#"><span class="fa fa-cc-visa"></span></a>
                                <a href="#"><span class="fa fa-paypal"></span></a>
                                <a href="#"><span class="fa fa-cc-discover"></span></a>
                            </div>
                        </td>


                        <td style="margin-right:50px; float:right">
                            <div class="list-unstyled list-inline mb-0" style="margin-right:30px">
                                <a href="@Url.Action("Admin", "Admin", "Admin")" style="color:inherit">
                                    <span class="fa fa-cc-pricaycu" style="color:#fff"><i class="fa fa-user"></i>ADMIN</span>
                                </a>
                            </div>
                        </td>
                        <td style="margin-right:20px; float:right">
                            <div class="list-unstyled list-inline mb-0">
                                <a href="@Url.Action("Procedure", "Pages")" style="color:inherit"><span class="fa fa-cc-pricaycu"><a href="@Url.Action("Procedure", "Pages")">PRIVACY</a></span></a>
                            </div>
                        </td>
                        <td style="margin-right:20px; float:right">
                            <div class="list-unstyled list-inline mb-0">
                                <a href="@Url.Action("Procedure", "Pages")">
                                    <span class="fa fa-cc-pricaycu">POLICY</span>
                                </a>
                            </div>
                        </td>
                        @*     <td style="margin-right:10px;">
                                <div class="list-unstyled list-inline mb-0">
                                    <a href="@Url.Action("Procedure", "Pages")">
                                        <span class="fa fa-cc-pricaycu">PRIVACY</span>
                                    </a>
                                </div>
                            </td>*@
                    </tr>
                </table>

            </div>







        </div>

    </div>










    @* <!-- wpf loader Two -->
        <div id="wpf-loader-two">
            <div class="wpf-loader-two-inner">
                <span>Loading</span>
            </div>
        </div>*@
    <!-- / wpf loader Two -->
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- / footer -->
    <!-- Start header section -->
    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/main.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-560770f61b38eef5" async="async"></script>-->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
   @* <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d6b94c29f26abc4"></script>*@



   
</body>

</html>



<div class="modal fade" id="tabModal" tabindex="-1" role="dialog" data-dismiss="modal" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:30px">
    <div class="modal-dialog">
        <div class="modal-content" style=" border-top-left-radius:10px; border-top-right-radius:10px;">
            <div class="modal-header" style=" background: rgb(241, 243, 243); font-size: xx-large; border-top-left-radius:5px; border-top-right-radius:5px; text-align:center">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="modal-basic-title" style="text-align:center">User SignIn</h4>

            </div>


            <div class="modal-body">

                <!-- Tab Start Code -->
                <fieldset>

                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })



                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="text-align:center">
                            <span style="text-align:center">
                                @Html.CheckBoxFor(a => a.RememberMe) @Resource.LabelRememberMe
                            </span><br /><br />
                            <span style="text-align:center; ">
                                <input type="submit" value="Login" class="btn btn-primary" style="background: rgb(241, 243, 243); color:black" /><br />


                                @if (ViewBag.Msg != null)
                                {
                                    <span style="color:red;">
                                        @ViewBag.Msg
                                    </span>
                                }
                            </span>
                            <br />
                            <!--    <a href="~/Account/Register" class="text-center" data-toggle="modal" data-target="#tabModal2" data-dismiss="modal"><i class="fa fa-user">&nbsp;&nbsp;Register as a new membership</i></a>-->


                            <a href="~/Account/Register" class="text-center"><i class="fa fa-user">&nbsp;&nbsp;Register as a new membership</i></a>
                            <br />
                            <br />
                            <!--Enable this once you have account confirmation enabled for password reset functionality-->
                            <span>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")

                            </span>




                            <hr />
                            <div class="margin text-center">
                                <span>Sign in using social networks</span>
                                <br />
                                <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
                                <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
                                <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
                            </div>
                        </div>
                    }
                </fieldset>
                <!-- Tab End Code -->

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*
    <div class="modal fade" id="tabModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: rgb(241, 243, 243); font-size: xx-large;">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="modal-basic-title" style="text-align:center">Registration</h4>

                </div>

                <div class="modal-body">

                    <!-- Tab Start Code -->

                    <fieldset style="padding-right:10px">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })



                            <hr />

                            <div class="col-md-12">
                                <fieldset>

                                    <div class="row">

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Firstname", required = "required" })
                                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                                        </span>

                                                    </div>

                                                </div>
                                            </div>
                                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Lastname", required = "required" })
                                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </fieldset>

                                <fieldset>

                                    <div class="row">

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Fullname", required = "required" })
                                                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", required = "required" })
                                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })


                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </fieldset>


                                <fieldset>

                                    <div class="row">

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm", required = "required" })
                                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </fieldset>


                                <fieldset>

                                    <div class="row">

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone", required = "required" })
                                                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-4">
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address", required = "required" })
                                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </fieldset>





                                <div class="form-group" style="text-align:center; color:white; padding-left:15%">
                                    @Html.LabelFor(m => m.UserPhoto, new { @class = "control-label col-md-2" })
                                    @Html.ValidationMessageFor(m => m.UserPhoto, "", new { @class = "text-danger" })
                                    <div class="col-md-10" style="color:white">
                                        <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" style="color:white; display:none" />
                                        <!-- <input type="file" name="UserPhoto" id="fileUpload" accept="image/*" required />-->

                                    </div>


                                    <div class="form-group" style="text-align:center">
                                        <span style="text-align:center">
                                            @Html.LabelFor(m => m.UserPhoto, new { @class = "control-label col-md-2" })
                                            @Html.ValidationMessageFor(m => m.UserPhoto, "", new { @class = "text-danger" })

                                            <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" style="color:white; display:none" />
                                            <!-- <input type="file" name="UserPhoto" id="fileUpload" accept="image/*" required />-->
                                        </span>
                                        <br />
                                        <span style="text-align:center; ">



                                            @if (ViewBag.Msg != null)
                                            {<span style="color:red;">
                                                <script type="text/javascript">
                                                    $(function () {
                                                        alert("@ViewBag.Message")
                                                    });
                                                </script>
                                            </span>
                                            }

                                            <br />

                                            <!--Enable this once you have account confirmation enabled for password reset functionality-->
                                            <span>
                                                <input type="submit" value="Register" class="btn btn-primary" style="background: rgb(241, 243, 243); color:black; text-align:center" />


                                            </span>

                                        </span>

                                        <hr />
                                        <div class="margin text-center;">
                                            <span style="color:black">Sign in If already Registered</span>
                                            <br />
                                            <a href="" class="text-center" data-toggle="modal" data-target="#tabModal" data-dismiss="modal"><i class="fa fa-user">&nbsp;&nbsp;Login</i></a>


                                        </div>
                                    </div>


                                </div>

                            </div>
                        }

                    </fieldset>

                    <!-- Tab End Code -->

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>  *@

















<style>
    #bcolor {
        background-image: url(/Content/images/HomePic/bg.jpeg);
    }

    /* enable absolute positioning */
    .inner-addon {
        position: relative;
        border-radius: none;
    }

        /*Search style icon */
        .inner-addon .fa-search {
            position: absolute;
            padding: 13px; /*move search button up and down */
            pointer-events: initial;
            color: black;
            margin-right: -260px; /*move search button left and right */
        }

    /* align icon */
    .left-addon .fa-search {
        left: 0px;
    }

    .right-addon .fa-search {
        right: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    .inner-addon .form-control {
        border-radius: none;
    }

    #footer {
        background: #9154f3;
        color: black;
        box-sizing: border-box;
        background-color: whitesmoke;
        margin: 0px;
    }


    .mainbarbottom {
        border: 0 solid #e1e1e1;
        border-bottom-width: 1px;
        height: 40px;
        text-align: center;
        padding: 0 0px;
        width: 100%;
        display: flex;
        flex-flow: row;
        text-align: right;
        float: right;
    }
</style>


<style>
    @@media only screen and (max-width:1026px) {
        #fadeshow1 {
            display: none;
        }
    }
</style>





