@using MainProgram.Controllers.Front_Controllers;
@model PagedList.IPagedList<MainProgram.Edm.Post_JqJava>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using MainProgram.Core.Resources
@using MainProgram.Edm
@using Microsoft.AspNet.Identity
@using MainProgram.Models



@{
    ViewBag.Title = "GetPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/Custom.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />

<div class="content-wrapper" style="width: 20%; margin-left: 0px; width:100%; top:0px; background-image: url('../../Content/img/ApparelImages/back.jpg');">


 

    <!-- left sidebar-->


    <div class="left" style="width: 17%; float:left; top:0px; background-image: url('../../Content/img/ApparelImages/back.jpg');">
        <div class="Container">
            <div class="col-md-4">
                <div class="container">
                    <div class="panel panel-default" style="width: 22%">
                        <strong style="font-size:x-large"><b>Best Contributers</b></strong>
                        <div class=" panel-body  no-gutter">
                            <div col-md-4">
                                <div class="panel panel-default" style="width: 100%; margin-left: 0px;">

                                    @using (Html.BeginForm("Index", "Post_JqJava", FormMethod.Get))
                                    {

                                    }
                                    <div class="table">
                                        <ul>
                                            <li>
                                                @Html.ActionLink("Post_JqJava", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                            </li>
                                            <li>
                                                First Name
                                            </li>
                                            <li>
                                                @Html.ActionLink("Post_JqJava", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                                            </li>



                                            @{


                                                MainProgram.Edm.angulardemoEntities dbg3 = new MainProgram.Edm.angulardemoEntities();

                                                List<MainProgram.Edm.Post_JqJava> Modelq = dbg3.Post_JqJava.ToList();

                                                foreach (MainProgram.Edm.Post_JqJava item in Modelq)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Details", "Post_JqJava", new { id = item.PostJqJavaId })" class="aa-cartbox-img"><img src="data:image;base64,@System.Convert.ToBase64String(@item.AspNetUser.UserPhoto)" width="60" height="60" style="padding-right:5px; margin-bottom:0px; padding-bottom:0px; border-radius:40px; text-align:left; float:left; vertical-align:sub" multiple /></a>
                                                        <a href="@Url.Action("Details", "Post_JqJava", new { id = item.PostJqJavaId })" class="aa-cartbox-img" style="text-align:left; font-family:Arial; font-size:12px; vertical-align:text-bottom" multiple>
                                                            @item.AspNetUser.UserName

                                                        </a>

                                                        <br />
                                                        <a href="@Url.Action("Details", "Post_JqJava")">View</a>


                                                    </li>
                                                }
                                            }





                                        </ul>

                                    </div>






                                </div>
                            </div>







                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--End Of Left-->
    <!-- Right-->


    <div class="right"
         style="width: 21%; float:right; margin-right:8px; padding-right:8px; top:0px; background-image: url('../../Content/img/ApparelImages/back.jpg');">
        <div class="Container">
            <div class="col-md-4">
                <div class="container">
                    <div class="panel panel-default" style="width: 22%">
                        <strong style="font-size:x-large"><b>Best Contributers</b></strong>
                        <div class=" panel-body  no-gutter">
                            <div col-md-4">
                                <div class="panel panel-default" style="width: 100%; margin-left: 0px;">

                                    @using (Html.BeginForm("Index", "Post_JqJava", FormMethod.Get))
                                    {

                                    }
                                    <div class="table">
                                        <ul>
                                            <li>
                                                @Html.ActionLink("Post_JqJava", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                            </li>
                                            <li>
                                                First Name
                                            </li>
                                            <li>
                                                @Html.ActionLink("PostDate", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                                            </li>



                                            @{


                                                MainProgram.Edm.angulardemoEntities dbgr = new MainProgram.Edm.angulardemoEntities();

                                                List<MainProgram.Edm.Post_JqJava> Modelr = dbgr.Post_JqJava.ToList();

                                                foreach (MainProgram.Edm.Post_JqJava item in Modelr)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Details", "Post_JqJava", new { id = item.PostJqJavaId })" class="aa-cartbox-img"><img src="data:image;base64,@System.Convert.ToBase64String(@item.AspNetUser.UserPhoto)" width="60" height="60" style="padding-right:5px; margin-bottom:0px; padding-bottom:0px; border-radius:40px; text-align:left; float:left; vertical-align:sub" multiple /></a>
                                                        <a href="@Url.Action("Details", "Post_JqJava", new { id = item.PostJqJavaId })" class="aa-cartbox-img" style="text-align:left; font-family:Arial; font-size:12px; vertical-align:text-bottom" multiple>
                                                            @item.AspNetUser.UserName

                                                        </a>

                                                        <br />
                                                        <a href="@Url.Action("Details", "Post_JqJava")">View</a>


                                                    </li>
                                                }
                                            }





                                        </ul>

                                    </div>






                                </div>
                            </div>







                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--End Of Right-->
    <!--MID Sidebar Main content-->
    <div class="Mid-sidebar" style="margin-right:10px; padding-right:0px; text-align:center">
        <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
            <strong style="font-size:x-large"><b>Top questions</b></strong>



            <h2>Post</h2>

            <p>
                @Html.ActionLink("New Post", "Create", "Post_JqJava")
            </p>
            <hr />
            <fieldset>
                @using (Html.BeginForm("Index", "Post_JqJava", FormMethod.Get))
                {
                    <p>
                        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Search" />
                    </p>
                }
                <table class="table">
                    <tr>
                        <th>
                            @Html.ActionLink("Post_JqJava", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            @Html.ActionLink("PostDate", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                        </th>
                        <th></th>
                    </tr>


                    @foreach (var item in Model)
                    {
                        <tr>
                            @*  <td>
                                    @Html.DisplayFor(modelItem => item.ImagePath)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.PostJqJavaText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostJqJavaTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostDate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.PostJqJavaId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.PostJqJavaId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.PostJqJavaId })
                            </td>
                        </tr>
                    }

                </table>
                .

                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))




            </fieldset>

            <div class="Scrollgrid" style="width: 100%; margin-left: 0px; overflow:scroll">
                <strong style="font-size:x-large"><b>Recent Post</b></strong>
                <ul>
                    @{


                        MainProgram.Edm.angulardemoEntities dbg = new MainProgram.Edm.angulardemoEntities();

                        List<MainProgram.Edm.Post_JqJava> Modelg = dbg.Post_JqJava.ToList();

                        foreach (MainProgram.Edm.Post_JqJava item in Modelg)
                        {
                            <li>
                                <a href="@Url.Action("Details", "Post_JqJava", new { id = item.PostJqJavaId })" class="aa-cartbox-img"><img src="data:image;base64,@System.Convert.ToBase64String(@item.AspNetUser.UserPhoto)" width="60" height="60" style="padding-right:5px; margin-bottom:0px; padding-bottom:0px; border-radius:40px; text-align:left; float:left; vertical-align:sub" multiple /></a>
                                <a href="@Url.Action("Details", "Post_JqJava", new { id = item.PostJqJavaId })" class="aa-cartbox-img" style="text-align:left; font-family:Arial; font-size:12px; vertical-align:text-bottom" multiple>
                                    @item.AspNetUser.UserName

                                </a>

                                <br />
                                <a href="@Url.Action("Details", "Post_JqJava")">View</a>


                            </li>
                        }
                    }





                </ul>

            </div>





        </div>






    </div>


    <br /><br />

    <div>
        @Html.ActionLink("Back to HomePage", "Index", "Home")
    </div>




    <!--End Of MID-->

    <style>
        .content-wrapper {
            margin-top: 0%;
            margin-left: 0%;
            background-position: top;
        }

        #left {
            width: 20%;
            margin-left: 0%;
            margin-top: 0%;
            background-position: top;
            position: relative;
            background-color: #eee3e3;
        }



        .Mid-sidebar {
            content: " ";
            position: relative;
            margin-top: 0%;
            width: 60%;
            overflow: no-display;
            padding-right: 0px;
            margin-left: 20%;
            margin-right: 0%;
            background-position: top;
            margin-bottom: 0px;
            background-color: #fff;
        }


        .SiteT {
            width: 100%;
            border: none;
            margin-right: 0px;
            padding-right: 0px;
        }




        .main--container {
            margin-left: 17px;
        }
    </style>


</div>