@model  IEnumerable<MainProgram.Edm.tblVideo>
@using MainProgram.Helper_Code

@{
    ViewBag.Title = "DotNetVideo";
}

@using MainProgram.Core.Resources
@using MainProgram.Edm
@using Microsoft.AspNet.Identity
@using MainProgram.Models




@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/Custom.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />



<section class="hero is-info is-fullheight is-bold">


    <div class="Main-Bar" style="width:100%; margin-right:0px; padding-right:0px; margin-top:20px; text-align:center; background-color:#fff">
        <div class="panel2" style="width: 98.8%; padding-left: 0px; padding-right: 0px;">
            <div class="row mt-4 mb-6 mb-12">

                <div class="hero-body   mt-4 mb-6 mb-12" style="background-color: ghostwhite; margin-right:0px; padding-right:0px; text-align:center">

                    <div class="content-wrapper" style="width: 20%; margin-left: 0px; width:100%; margin-top:30px; background-color:white; border:none">




                        <!-- left sidebar-->


                        <div class="left" style="width: 17%; float:left; top:0px; background-image: url('../../Content/img/ApparelImages/back.jpg');">
                            <div class="Container">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="panel panel-default" style="width: 22%">
                                            <strong style="font-size:x-large"><b>Best Contributers</b></strong>
                                            <div class=" panel-body  no-gutter">
                                                <div col-md-4">
                                                    <div class="panel panel-default" style="width: 100%; margin-left: 0px;">

                                                        @using (Html.BeginForm("Index", "Post", FormMethod.Get))
                                                        {

                                                        }
                                                        <div class="table">
                                                            <ul>
                                                                <li>
                                                                    @Html.ActionLink("Post", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                                                </li>
                                                                <li>
                                                                    First Name
                                                                </li>
                                                                <li>
                                                                    @Html.ActionLink("PostDate", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                                                                </li>



                                                                @{


                                                                    MainProgram.Edm.angulardemoEntities dbg3 = new MainProgram.Edm.angulardemoEntities();

                                                                    List<MainProgram.Edm.tbh_Replies> Modelq = dbg3.tbh_Replies.ToList();

                                                                    foreach (MainProgram.Edm.tbh_Replies item in Modelq)
                                                                    {
                                                                        <li>
                                                                            <br /><br />
                                                                            <a href="@Url.Action("ChatRoom", "Post", new { id = item.ThreadId })" class="aa-cartbox-img"><img src="data:image;base64,@System.Convert.ToBase64String(@item.AspNetUser.UserPhoto)" width="60" height="60" style="padding-right:5px; margin-bottom:0px; padding-bottom:0px; border-radius:40px; text-align:left; float:left; vertical-align:sub" multiple /></a>
                                                                            <a href="@Url.Action("ChatRoom", "Post", new { id = item.ThreadId })" class="aa-cartbox-img" style="text-align:left; font-family:Arial; font-size:12px; vertical-align:text-bottom" multiple>
                                                                                @item.AspNetUser.UserName

                                                                            </a>

                                                                            <br />
                                                                            <a href="@Url.Action("ChatRoom", "Post")">View</a>


                                                                        </li>
                                                                    }
                                                                }





                                                            </ul>

                                                        </div>






                                                    </div>
                                                </div>







                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <!--End Of Left-->
                        <!-- Right-->


                        <div class="right"
                             style="width: 21%; float:right; margin-right:8px; padding-right:8px; top:0px; background-image: url('../../Content/img/ApparelImages/back.jpg');">
                            <div class="Container">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="panel panel-default" style="width: 22%">
                                            <strong style="font-size:x-large"><b>Best Contributers</b></strong>
                                            <div class=" panel-body  no-gutter">
                                                <div col-md-4">
                                                    <div class="panel panel-default" style="width: 100%; margin-left: 0px;">

                                                        @using (Html.BeginForm("Index", "Post_CSharp", FormMethod.Get))
                                                        {

                                                        }
                                                        <div class="table">
                                                            <ul>
                                                                <li>
                                                                    @Html.ActionLink("Post_CSharp", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                                                </li>
                                                                <li>
                                                                    First Name
                                                                </li>
                                                                <li>
                                                                    @Html.ActionLink("PostDate", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                                                                </li>



                                                                @{


                                                                    MainProgram.Edm.angulardemoEntities dbgr = new MainProgram.Edm.angulardemoEntities();

                                                                    List<MainProgram.Edm.Post_CSharp> Modelr = dbgr.Post_CSharp.ToList();

                                                                    foreach (MainProgram.Edm.Post_CSharp item in Modelr)
                                                                    {
                                                                        <li>
                                                                            <a href="@Url.Action("Details", "Post_CSharp", new { id = item.PostCSId })" class="aa-cartbox-img"><img src="data:image;base64,@System.Convert.ToBase64String(@item.AspNetUser.UserPhoto)" width="60" height="60" style="padding-right:5px; margin-bottom:0px; padding-bottom:0px; border-radius:40px; text-align:left; float:left; vertical-align:sub" multiple /></a>
                                                                            <a href="@Url.Action("Details", "Post_CSharp", new { id = item.PostCSId })" class="aa-cartbox-img" style="text-align:left; font-family:Arial; font-size:12px; vertical-align:text-bottom" multiple>
                                                                                @item.AspNetUser.UserName

                                                                            </a>

                                                                            <br />
                                                                            <a href="@Url.Action("Details", "Post_CSharp")">View</a>


                                                                        </li>
                                                                    }
                                                                }





                                                            </ul>

                                                        </div>






                                                    </div>
                                                </div>







                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--End Of Right-->
                        <!--MID Sidebar Main content-->
                        <div class="Mid-sidebar" style="margin-right:10px; padding-right:0px; text-align:center">
                            <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
                                <strong style="font-size:x-large"><b>Recommended Video tutorials</b></strong>




                                <fieldset>
                                    @* @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <input type="file" name="postedFile" />
                                            <input type="submit" id="btnUpload" value="Upload" />
                                        }*@
                                    <hr />

                                    @helper Video(string id, string mp4Path, string WebmPath = null, string ogvPath = null,
                                         bool needsControls = true, int width = 500, int height = 200)
{
    var controlsString = string.Empty;
    if (needsControls)
    {
        controlsString = "controls = 'contrlols'";
    }


    <video controls="controls" id="@id" width="@width" height="@height">
        @if (!string.IsNullOrEmpty(mp4Path))
        {
            <source src="@mp4Path" type="video/mp4" />
        }
        @if (!string.IsNullOrEmpty(WebmPath))
        {
            <source src="@WebmPath" type="video/webm" />
        }
        @if (!string.IsNullOrEmpty(ogvPath))
        {
            <source src="@ogvPath" type="video/ogg" />
        }
        <source src="~/Content/Video/Ad.mp4" type="video/mp4" />
        <source src="file.Webm" type="video/webm" />
        <source src="file.egv" type="video/ogg" />

    </video>

}


                                    <div class="col-sm-8" style="float:left; border-right:2px, solid #f1f1f1">

                                        <video id="myVideo1" poster="http://placehold.it/430x250/0e0/111?text=POSTER" width="790" height="450" controls>
                                            <source src="~/Content/Video/Ad.mp4" type="video/mp4" />
                                            <source src="file.Webm" type="video/webm" />
                                            <source src="file.egv" type="video/ogg" />

                                        </video>
                                        @*
                                                 <div>
                                                @Video("myVideo1", "/Content/Video/Ad.mp4")
                                            </div>

                                            @GlobalHtmlHelpers.Video("myVideo1", "/Content/Video/Ad.mp4", width: 500, height: 200, needsControls: true)

                                              <b>Fluent Helper</b><br />
                                            <div>
                                                @Html.FluentVideo("myVideo4").mp4("/Content/Video/Ad.mp4").width(500).height(200).controls(true))

                                            </div>

                                               <b>Static Helper</b><br />
                                            <div>
                                                @StaticHtml5Helpers.Video("myVideo3", "/Content/Video/Ad.mp4", width: 500, height: 200, needsControls: true)

                                            </div>

                                              <b>Global Helper</b><br />
                                            <div>
                                                @GlobalHtmlHelpers.Video("myVideo2", "/Content/Video/Ad.mp4", width: 500, height: 200, needsControls: true)
                                            </div>
                                              <b>Local Helper</b><br />
                                            <div>
                                                @Video("myVideo1", "/Content/Video/Ad.mp4")
                                            </div>

                                        *@





                                    </div>



                                    @* <table cellpadding="0" cellspacing="0">
                                            @if (Model.Count() > 0)
                                            {
                                                foreach (var file in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            <u>
                                                                @file.Name
                                                            </u>
                                                            <hr />

                                                            <video id="VideoPlayer" src='@Url.Action("DownloadFile", "Video", new { fileId = @file.Name })' controls="controls"
                                                                   width="400" height="350" autoplay="autoplay" />
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        </table>*@











                                </fieldset>




                            </div>






                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>





<style>
    .content-wrapper {
        margin-top: 0%;
        margin-left: 0%;
        background-position: top;
    }

    #left {
        width: 20%;
        margin-left: 0%;
        margin-top: 0%;
        background-position: top;
        position: relative;
        background-color: #eee3e3;
    }



    .Mid-sidebar {
        content: " ";
        position: relative;
        margin-top: 0%;
        width: 60%;
        overflow: no-display;
        padding-right: 0px;
        margin-left: 20%;
        margin-right: 0%;
        background-position: top;
        margin-bottom: 0px;
        background-color: #fff;
    }


    .SiteT {
        width: 100%;
        border: none;
        margin-right: 0px;
        padding-right: 0px;
    }




    .main--container {
        margin-left: 17px;
    }
</style>
                        


