@model IEnumerable<MainProgram.Edm.tbh_Departments>

@using MainProgram.Models 
@{
    ViewBag.Title = "Q100";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/Custom.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />



<div class="content-wrapper" style="width: 20%; margin-left: 0px; width:100%; top:0px; background-image: url('../../Content/img/ApparelImages/back.jpg');">


    <section class="content-header" style="margin-left:0px; top:2px;">

        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="headerA"></i>
                </a>
            </li>
            <li class="active"></li>
        </ol>
    </section>

    <!-- left sidebar-->
    <div class="left" style="width: 20%; float:left; top:0px; background-image: url('../../Content/img/ApparelImages/back.jpg');">
        <div class="Container">
            <div class="col-md-4">
                <div class="container">
                    @* <h3>Current thread: @Html.DisplayFor(model => model.ThreadTitle), Posted by: @Html.DisplayFor(modelItem => Model.GetUserName)</h3>*@

                    <div class="panel panel-default" style="width: 22%">
                        <div class=" panel-body  no-gutter">
                            <div col-md-4">

                                <div>
                                    <img src="~/Content/img/ApparelImages/Essien.jpg" class="img-circle" alt="User Image" />
                                    <p style="width:250px; height:auto; overflow-wrap:initial">You can easily fiesnd a web hosting company that offers the right mix of features and price for&raquo; your applications.</p>
                                    <p><a class="btn btn-default" href="@Url.Action("Index", "Blog")">check developer blog &raquo;</a></p>
                                </div>



                                <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
                                    <strong style="font-size:x-large"><b>Top questions</b></strong>
                                    <ul>
                                        @{
                                            MainProgram.Edm.angulardemoEntities dbg = new MainProgram.Edm.angulardemoEntities();

                                            List<MainProgram.Edm.Thread> Modelg = dbg.Threads.ToList();

                                            foreach (MainProgram.Edm.Thread item in Modelg)
                                            {
                                                <li>
                                                    <h4><b><a href="@Url.Action("Details", "Post", new { id = item.ThreadId })">=>@item.ThreadTitle</a></b></h4>
                                                    @*<p style="text-align:left; padding-left:15px; padding-right:15px; padding-top:10px">@item.ThreadText</p>*@
                                                    @* =><a href="@Url.Action("Details", "Post", new { id = ViewBag.ThreadId })" style=""></a>*@
                                                    @*<a href="/Women/pages">@item.ThreadTitle</a>*@
                                                    @*@Html.DisplayFor(model => item.ThreadText)*@
                                                    @* @Html.ActionLink("Reply to this thread", "Create", "Post")model => item.ThreadText)*@
                                                </li>
                                            }
                                        }
                                    </ul>

                                </div>
                            </div>
                        </div>



                        <div class=" panel-body">
                            <div col-md-4">
                                <div class="thumbnail">
                                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    <p class="text-center">
                                        @*@Html.DisplayFor(model => model.ThreadText)*@
                                        @Html.ActionLink("Reply to this thread", "Create", "Post")
                                        @Html.ActionLink("Back to List", "Index")
                                    </p>

                                </div>

                            </div>


                        </div>

                        <div class=" panel-body">
                            <div col-md-4">
                                <div class="thumbnail">
                                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    <p class="text-center">
                                        @*Html.DisplayFor(model => model.ThreadText)*@
                                        @Html.ActionLink("Reply to this thread", "Create", "Post")

                                    </p>

                                </div>

                            </div>

                        </div>

                        <p class="text-center">
                            @Html.ActionLink("Reply to this thread", "Create", "Post")
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                    </div>


                </div>
                <!--End of Container-->

                <hr />

                <!--Second-->
                <!--End of Third-->
              
                
            </div>
        </div>
    </div> <!--Main-->
  
    <div class="right" style="width: 21%; float:right; margin-right:8px; padding-right:8px; top:0px;">
        <div class="Container">
            <div class="col-md-4">
                <div class="container">
                    @* <h3>Current thread: @Html.DisplayFor(model => model.ThreadTitle), Posted by: @Html.DisplayFor(modelItem => Model.GetUserName)</h3>*@

                    <div class="panel panel-default" style="width: 22%">
                        <div class=" panel-body  no-gutter">
                            <div col-md-4">

                                <div>
                                    <img src="~/Content/img/ApparelImages/Essien.jpg" class="img-circle" alt="User Image" />
                                    <p style="width:250px; height:auto; overflow-wrap:initial">You can easily fiesnd a web hosting company&raquo; that offers the right mix of features and price for&raquo; your applications.</p>
                                    <p><a class="btn btn-default" href="@Url.Action("Index", "Blog")">check developer blog &raquo;</a></p>
                                </div>



                                @* <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
                                    <strong style="font-size:x-large"><b>Top questions</b></strong>
                                    <ul>
                                        @{


                                            ApplicationDbContext obj = new ApplicationDbContext();

                                            List<MainProgram.Models.Thread> Model = obj.Threads.ToList();

                                            foreach (MainProgram.Models.Thread item in Model)
                                            {
                                                <li>
                                                    =><a href="/Home/@item.MenuURL">@item.ThreadTitle</a>
                                                    <a href="@Url.Action("Women", "Pages", new { id = ViewBag.ThreadId })" style=""></a>
                                                    @*<a href="/Women/pages">@item.ThreadTitle</a>*@
                                @*@Html.DisplayFor(model => item.ThreadText)*@
                                @* @Html.ActionLink("Reply to this thread", "Create", "Post")model => item.ThreadText)
                                                    </li>
                                                }
                                            }



                                        </ul>

                                    </div>*@




                            </div>
                        </div>






                        <div class=" panel-body">
                            <div col-md-4">
                                <div class="thumbnail">
                                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    <p class="text-center">
                                        @*@Html.DisplayFor(model => model.ThreadText)*@
                                        @Html.ActionLink("Reply to this thread", "Create", "Post")
                                        @Html.ActionLink("Back to List", "Index")
                                    </p>

                                </div>

                            </div>


                        </div>

                        <div class=" panel-body">
                            <div col-md-4">
                                <div class="thumbnail">
                                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    <p class="text-center">
                                        @*Html.DisplayFor(model => model.ThreadText)*@
                                        @Html.ActionLink("Reply to this thread", "Create", "Post")

                                    </p>

                                </div>

                            </div>

                        </div>

                        <p class="text-center">
                            @Html.ActionLink("Reply to this thread", "Create", "Post")
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                    </div>


                </div>
                <!--End of Container-->

                <hr />


                <!--Second-->
                <!--End of Third-->
                <!---->
                <!--End-->
                <!--End of Third-->
            </div>
        </div>
    </div>



    <!--MID Sidebar Main content-->
    <div class="Mid-sidebar" style="margin-right:0px; padding-right:0px; text-align:center">
            <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
                <strong style="font-size:x-large"><b>Top questions</b></strong>
                <ul>
                    @{
                        MainProgram.Edm.angulardemoEntities dba = new MainProgram.Edm.angulardemoEntities();

                        List<MainProgram.Edm.Thread> Modela = dba.Threads.ToList();

                        foreach (MainProgram.Edm.Thread item in ViewBag.Q100a)
                        {
                            <li>
                               
                                <h4><b><a href="@Url.Action("Details", "Post", new { id = item.ThreadId })">@item.ThreadTitle</a></b></h4>
                                <p style="text-align:left; padding-left:15px; padding-right:15px; padding-top:10px">@item.ThreadText</p>
                                @*=><a href="/Home/@item.MenuURL">@item.ThreadText</a>
                                <a href="@Url.Action("Women", "Pages", new { id = ViewBag.ThreadId })" style=""></a>
                                @*<a href="/Women/pages">@item.ThreadTitle</a>*@
                                @*@Html.DisplayFor(model => item.ThreadText)*@
                                @* @Html.ActionLink("Reply to this thread", "Create", "Post")model => item.ThreadText)*@
                            </li>
                        }
                    }
                </ul>
            </div>

        <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
            
            <ul>
                @{
                    MainProgram.Edm.angulardemoEntities dbb = new MainProgram.Edm.angulardemoEntities();

                    List<MainProgram.Edm.Thread> Modelb = dbb.Threads.ToList();

                    foreach (MainProgram.Edm.Thread item in ViewBag.Q100b)
                    {
                        <li>
                            <h4><b><a href="@Url.Action("Details", "Post", new { id = item.ThreadId })">@item.ThreadTitle</a></b></h4>
                            <p style="text-align:left; padding-left:15px; padding-right:15px; padding-top:10px">@item.ThreadText</p>
                            @*=><a href="/Home/@item.MenuURL">@item.ThreadText</a>
                            <a href="@Url.Action("Women", "Pages", new { id = ViewBag.ThreadId })" style=""></a>
                            @*<a href="/Women/pages">@item.ThreadTitle</a>*@
                            @*@Html.DisplayFor(model => item.ThreadText)*@
                            @* @Html.ActionLink("Reply to this thread", "Create", "Post")model => item.ThreadText)*@
                        </li>
                    }
                }
            </ul>
        </div>


        <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
            
            <ul>
                @{
                    MainProgram.Edm.angulardemoEntities dbc = new MainProgram.Edm.angulardemoEntities();

                    List<MainProgram.Edm.Thread> Modelc = dbc.Threads.ToList();

                    foreach (MainProgram.Edm.Thread item in ViewBag.Q100c)
                    {
                        <li>
                            <h4><b><a href="@Url.Action("Details", "Post", new { id = item.ThreadId })">@item.ThreadTitle</a></b></h4>
                            <p style="text-align:left; padding-left:15px; padding-right:15px; padding-top:10px">@item.ThreadText</p>
                            @*=><a href="/Home/@item.MenuURL">@item.ThreadText</a>
                            <a href="@Url.Action("Women", "Pages", new { id = ViewBag.ThreadId })" style=""></a>
                            @*<a href="/Women/pages">@item.ThreadTitle</a>*@
                            @*@Html.DisplayFor(model => item.ThreadText)*@
                            @* @Html.ActionLink("Reply to this thread", "Create", "Post")model => item.ThreadText)*@
                        </li>
                    }
                }
            </ul>
        </div>



        <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
            
            <ul>
                @{
                    MainProgram.Edm.angulardemoEntities dbd = new MainProgram.Edm.angulardemoEntities();

                    List<MainProgram.Edm.Thread> Modeld = dbc.Threads.ToList();

                    foreach (MainProgram.Edm.Thread item in ViewBag.Q100d)
                    {
                        <li>
                            <h4><b><a href="@Url.Action("Details", "Post", new { id = item.ThreadId })">@item.ThreadTitle</a></b></h4>
                            <p style="text-align:left; padding-left:15px; padding-right:15px; padding-top:10px">@item.ThreadText</p>
                            @*=><a href="/Home/@item.MenuURL">@item.ThreadText</a>
                            <a href="@Url.Action("Women", "Pages", new { id = ViewBag.ThreadId })" style=""></a>
                            @*<a href="/Women/pages">@item.ThreadTitle</a>*@
                            @*@Html.DisplayFor(model => item.ThreadText)*@
                            @* @Html.ActionLink("Reply to this thread", "Create", "Post")model => item.ThreadText)*@
                        </li>
                    }
                }
            </ul>
        </div>



        <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
           
            <ul>
                @{
                    MainProgram.Edm.angulardemoEntities dbe = new MainProgram.Edm.angulardemoEntities();

                    List<MainProgram.Edm.Thread> Modele = dbc.Threads.ToList();

                    foreach (MainProgram.Edm.Thread item in ViewBag.Q100e)
                    {
                        <li>
                            <h4><b><a href="@Url.Action("Details", "Post", new { id = item.ThreadId })">@item.ThreadTitle</a></b></h4>
                            <p style="text-align:left; padding-left:15px; padding-right:15px; padding-top:10px">@item.ThreadText</p>
                            @*=><a href="/Home/@item.MenuURL">@item.ThreadText</a>
                            <a href="@Url.Action("Women", "Pages", new { id = ViewBag.ThreadId })" style=""></a>
                            @*<a href="/Women/pages">@item.ThreadTitle</a>*@
                            @*@Html.DisplayFor(model => item.ThreadText)*@
                            @* @Html.ActionLink("Reply to this thread", "Create", "Post")model => item.ThreadText)*@
                        </li>
                    }
                }
            </ul>
        </div>


        <div class="panel panel-default" style="width: 100%; margin-left: 0px;">
            
            <ul>
                @{
                    MainProgram.Edm.angulardemoEntities dbf = new MainProgram.Edm.angulardemoEntities();

                    List<MainProgram.Edm.Thread> Modelf = dbc.Threads.ToList();

                    foreach (MainProgram.Edm.Thread item in ViewBag.Q100f)
                    {
                        <li>
                            <h4><b><a href="@Url.Action("Details", "Post", new { id = item.ThreadId })">@item.ThreadTitle</a></b></h4>
                            <p style="text-align:left; padding-left:15px; padding-right:15px; padding-top:10px">@item.ThreadText</p>
                            @*=><a href="/Home/@item.MenuURL">@item.ThreadText</a>
                            <a href="@Url.Action("Women", "Pages", new { id = ViewBag.ThreadId })" style=""></a>
                            @*<a href="/Women/pages">@item.ThreadTitle</a>*@
                            @*@Html.DisplayFor(model => item.ThreadText)*@
                            @* @Html.ActionLink("Reply to this thread", "Create", "Post")model => item.ThreadText)*@
                        </li>
                    }
                }
            </ul>
        </div>



       


        <div class="panel panel-default" style="width: 100%; margin-left: 0px;">

            <ul>
                @{
                    MainProgram.Edm.angulardemoEntities dbh = new MainProgram.Edm.angulardemoEntities();

                    List<MainProgram.Edm.Thread> Modelh = dbc.Threads.ToList();

                    foreach (MainProgram.Edm.Thread item in ViewBag.Q100h)
                    {
                        <li>
                            <h4><b><a href="@Url.Action("Details", "Post", new { id = item.ThreadId })">@item.ThreadTitle</a></b></h4>
                            <p style="text-align:left; padding-left:15px; padding-right:15px; padding-top:10px">@item.ThreadText</p>
                            @*=><a href="/Home/@item.MenuURL">@item.ThreadText</a>
                            <a href="@Url.Action("Women", "Pages", new { id = ViewBag.ThreadId })" style=""></a>
                            @*<a href="/Women/pages">@item.ThreadTitle</a>*@
                            @*@Html.DisplayFor(model => item.ThreadText)*@
                            @* @Html.ActionLink("Reply to this thread", "Create", "Post")model => item.ThreadText)*@
                        </li>
                    }
                }
            </ul>
        </div>


            
        </div>










    <style>
        .content-wrapper {
            margin-top: 0%;
            margin-left: 0%;
            background-position: top;
        }

        #left {
            width: 20%;
            margin-left: 0%;
            margin-top: 0%;
            background-position: top;
            position: relative;
            background-color: #eee3e3;
        }



        .Mid-sidebar {
            content: " ";
            position: relative;
            margin-top: 0%;
            width: 60%;
            overflow: no-display;
            padding-right: 0px;
            margin-left: 20%;
            margin-right: 0%;
            background-position: top;
            margin-bottom: 0px;
            background-color: #fff;
        }


        .SiteT {
            width: 100%;
            border: none;
            margin-right: 0px;
            padding-right: 0px;
        }




        .main--container {
            margin-left: 17px;
        }
    </style>
</div>
