@using MainProgram.Core.Resources
@using MainProgram.Edm
@model tbh_Category




@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/Custom.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />



   <!--END Content Header (Page header) -->
<!-- Begins Content Body -->
<div class="content-wrapper" style="margin-left: 0px; width: 100%; top: 0px; margin:0px">


    @* <section class="content-header" style="margin-left:0px; top:2px;">

            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="headerA"></i>
                    </a>
                </li>
                <li class="active"></li>
            </ol>
        </section>*@
    <div class="Main-Bar" style="margin-right:0px; padding-right:0px; text-align:center; background-color:#e4dada">
        <div class="panel panel-default" style="width: 100%; padding-left: 0px;">


            <div class="main--container">
                <!--MAIN-->

                <div class="row justify-content-md-center">
                    <table class="SiteT" style="text-align:center">
                        <tr style="border-left:0px inset #f1f1f1; border-top:1px inset #f1f1f1; width:100%; overflow:no-display">
                            <td>


                                <!-- left sidebar-->
                                <div class="left" style="width: 22%; margin-left:0%; top:0px; border-right:none; border-bottom:none; border-top:none; border-left:none ">
                                    
                                   
                                        <div class="Container">
                                            <div class="col-md-4">
                                                <div class="container">
                                                    <div class="panel panel-default" style="width: 22%; text-align:left">

                                                        <div class=" panel-body  no-gutter" style="width: 20%">
                                                            <c col-md-4">

                                                                <p>ITEMS</p>


                                                                <script src="/Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
                                                                <div id="header">

                                                                    <ul id="navlist">
                                                                        <li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
                                                                        <li><a href="@Url.Action("Shop", "Home")">Store</a></li>


                                                                        <li><a href="@Url.Action("Admin", "Admin")">Admin</a></li>
                                                                    </ul>






                                                                </div>




                                                                <hr />
                                                                <div id="header">

                                                                    <ul id="navlist">
                                                                        <li class="@(Request.Url.Segments[0].ToString().Trim().StartsWith("Category") ? "active" : "") treeview" style="width:250px;">

                                                                            <a href="#">
                                                                                <i class="fa fa-laptop"></i>
                                                                                <span>Account</span>

                                                                                
                                                                            </a>
                                                                            <ul class="treeview-menu">

                                                                                <li>
                                                                                    <a href="@Url.Action("login", "Account")" style="width:250px;">
                                                                                        <i class="fa fa-circle-o"></i> login
                                                                                    </a>
                                                                                </li>

                                                                            </ul>
                                                                        </li>


                                                                        <li class="@(Request.Url.Segments[0].ToString().Trim().StartsWith("Category") ? "active" : "") treeview" style="width:250px;">

                                                                            <a href="@Url.Action("login", "Account")">
                                                                                <i class="fa fa-laptop"></i>
                                                                                <span>Membership</span>

                                                                             
                                                                            </a>

                                                                        </li>



                                                                        <li class="@(Request.Url.Segments[0].ToString().Trim().StartsWith("Category") ? "active" : "") treeview" style="width:250px;">

                                                                            <a href="#">
                                                                                <i class="fa fa-laptop"></i>
                                                                                <span>Settings</span>

                                                                               
                                                                            </a>
                                                                            <ul class="treeview-menu">
                                                                                <li><a href="@Url.Action("Group", "Setting", new { id = "general" })"><i class="fa fa-circle-o"></i> General</a></li>
                                                                                @* <li><a href="@Url.Action("Group", "Setting", new { id = "paypal" })"><i class="fa fa-circle-o"></i> Paypal</a></li>*@
                                                                                <li><a href="@Url.Action("Group", "Setting", new { id = "social network" })"><i class="fa fa-circle-o"></i> Social Networks</a></li>

                                                                            </ul>
                                                                        </li>

                                                                    </ul>






                                                                </div>


                                                                <hr />

                                                                <c id="header">
                                                                   
                                                                        

                                                                            <ul class="nav nav-tabs aa-products-tab">

                                                                                <li><a href="#featured" data-toggle="tab">Categories</a></li>

                                                                            </ul>
                                                                            
                                                                               
                                                                              
                                                                      @foreach (MainProgram.Edm.tbh_Category category in ViewBag.cat)
                                                                                {
                                                                                    <div>
                                                                                        <ul>
                                                                                            <li class="panel-heading">
                                                                                                <h4 class="panel-title">
                                                                                                    <a href="@Url.Action("Index","Home",new {id = category.CategoryID})" class="categoryItem" data-id="@category.CategoryID">
                                                                                                        @category.Ancestor
                                                                                                    </a>
                                                                                                    <a href="javascript:void(0)">
                                                                                                        <span data-target="#@("Category_" + category.CategoryID)" data-toggle="collapse" class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                                                                    </a>
                                                                                                </h4>
                                                                                            </li>

                                                                                            <li class="panel-collapse collapse" id="@("Category_" + category.CategoryID)">
                                                                                                <c class="panel-body">

                                                                                                    @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcat)
                                                                                                {

                                                                                                        <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                                }

                                                                                                </c>
                                                                                            </li>
                                                                                      </ul>
                                                                                    </div>
                                                                                  
                                                                                }




                                                                    @foreach (MainProgram.Edm.tbh_Category category in ViewBag.catb)
                                                                    {
                                                                        <div>
                                                                            <ul>
                                                                                <li class="panel-heading">
                                                                                    <h4 class="panel-title">
                                                                                        <a href="@Url.Action("Index","Home",new {id = category.CategoryID})" class="categoryItem" data-id="@category.CategoryID">
                                                                                            @category.Ancestor
                                                                                        </a>
                                                                                        <a href="javascript:void(0)">
                                                                                            <span data-target="#@("Category_" + category.CategoryID)" data-toggle="collapse" class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                                                        </a>
                                                                                    </h4>
                                                                                </li>

                                                                                <li class="panel-collapse collapse" id="@("Category_" + category.CategoryID)">
                                                                                    <c class="panel-body">

                                                                                        @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatb)
                                                                                        {

                                                                                            <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                    </c>
                                                                                </li>
                                                                                <c class="panel-body">

                                                                                    @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatb1)
                                                                                    {

                                                                                        <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                    }

                                                                                </c>
                                                                                <c class="panel-body">

                                                                                    @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatb2)
                                                                                    {

                                                                                        <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                    }

                                                                                </c>
                                                                                <c class="panel-body">

                                                                                    @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatb3)
                                                                                    {

                                                                                        <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                    }

                                                                                </c>

                                                                                



                                                                            </ul>
                                                                        </div>

                                                                    }




                                                                    @foreach (MainProgram.Edm.tbh_Category category in ViewBag.catc)
                                                                    {
                                                                        <div>
                                                                            
                                                                                <ul>
                                                                                    <li class="panel-heading">
                                                                                        <h4 class="panel-title">
                                                                                            <a href="@Url.Action("Index","Home",new {id = category.CategoryID})" class="categoryItem" data-id="@category.CategoryID">
                                                                                                @category.Ancestor
                                                                                            </a>
                                                                                            <a href="javascript:void(0)">
                                                                                                <span data-target="#@("Category_" + category.CategoryID)" data-toggle="collapse" class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                                                            </a>
                                                                                        </h4>
                                                                                    </li>

                                                                                    <li class="panel-collapse collapse" id="@("Category_" + category.CategoryID)">
                                                                                        <c class="panel-body">

                                                                                            @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatc)
                                                                                        {

                                                                                        <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                        </c>
                                                                                        <c class="panel-body">

                                                                                            @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatc1)
                                                                                        {

                                                                                        <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                        </c>
                                                                                    </li>
                                                                                    <li class="panel-collapse collapse" id="@("Category_" + category.CategoryID)">
                                                                                        <c class="panel-body">

                                                                                            @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatc2)
                                                                                        {

                                                                                        <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                        </c>
                                                                                    </li>

                                                                               
                                                                                <li class="panel-collapse collapse" id="@("Category_" + category.CategoryID)">
                                                                                    <c class="panel-body">

                                                                                        @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatc2)
                                                                                    {

                                                                                    <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                    }

                                                                                    </c>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                    }


                                                                    @foreach (MainProgram.Edm.tbh_Category category in ViewBag.catd)
                                                                    {
                                                                        <div>
                                                                            <ul>
                                                                                <li class="panel-heading">
                                                                                    <h4 class="panel-title">
                                                                                        <a href="@Url.Action("Index","Home",new {id = category.CategoryID})" class="categoryItem" data-id="@category.CategoryID">
                                                                                            @category.Ancestor
                                                                                        </a>
                                                                                        <a href="javascript:void(0)">
                                                                                            <span data-target="#@("Category_" + category.CategoryID)" data-toggle="collapse" class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                                                        </a>
                                                                                    </h4>
                                                                                </li>

                                                                                

                                                                                <li class="panel-collapse collapse" id="@("Category_" + category.CategoryID)">
                                                                                    <c class="panel-body">

                                                                                        @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatd)
                                                                                        {

                                                                                            <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                    </c>
                                                                                    <c class="panel-body">

                                                                                        @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatd1)
                                                                                        {

                                                                                            <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                    </c>
                                                                                    <c class="panel-body">

                                                                                        @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatd2)
                                                                                        {

                                                                                            <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                    </c>
                                                                                    <c class="panel-body">

                                                                                        @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatd3)
                                                                                        {

                                                                                            <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                    </c>
                                                                                    <c class="panel-body">

                                                                                        @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcatd4)
                                                                                        {

                                                                                            <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                    </c>
                                                                                </li>




                                                                            </ul>
                                                                        </div>

                                                                    }



                                                                    @foreach (MainProgram.Edm.tbh_Category category in ViewBag.cate)
                                                                    {
                                                                        <div>
                                                                            <ul>
                                                                                <li class="panel-heading">
                                                                                    <h4 class="panel-title">
                                                                                        <a href="@Url.Action("Index","Home",new {id = category.CategoryID})" class="categoryItem" data-id="@category.CategoryID">
                                                                                            @category.Ancestor
                                                                                        </a>
                                                                                        <a href="javascript:void(0)">
                                                                                            <span data-target="#@("Category_" + category.CategoryID)" data-toggle="collapse" class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                                                        </a>
                                                                                    </h4>
                                                                                </li>

                                                                                <li class="panel-collapse collapse" id="@("Category_" + category.CategoryID)">
                                                                                    <c class="panel-body">

                                                                                        @foreach (MainProgram.Edm.tbh_Category subCategory in ViewBag.Subcate)
                                                                                        {

                                                                                            <a href="@Url.Action("Index", "Home", new { id = subCategory.Name })" class="categoryItem" data-id="@subCategory.">@subCategory.Ancestor</a>

                                                                                        }

                                                                                    </c>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                    }








                                                                                
                                                                                    
                                                                                    
                                                                                    
                                                                                    
                                                                                    

                                                                



                
                                                                                  
                                                                               

                                                                                
                                                        </div>


                                                                                

                                                                                     </div>
                                                                </div>



                                                        </div>
                                                    </div>







                                                </div>
                                            </div>
                                        </div>
                                    </div>






                              
                             
                                <!--END of LEFT-->
                                <!--Middle-->
                                <div class="Middle" style="width:76%; float:left; margin-left:14%; overflow:hidden;border-left:2px solid #f1f1f1; border-right:2px solid #f1f1f1; border-radius:8px; border-top:2px solid #f1f1f1; border-bottom:2px solid #f1f1f1; ">
                                    <div class="panel panel-default" style="width: 100%; padding-left: 20px;">
                                        <strong style="font-size:x-large"><b>Products</b></strong>
                                       
                                        <div class="row mt-3 mb-6 mb-9" style="background-color: ghostwhite;">

                                          

                                            <hr style=" color:black; border-bottom: solid 2px; border-bottom-color:#f1f1f1 "/>
                                            <div class="panel panel-default" style="width: 100%; margin-left: 0px; border:none">
                                              
                                                    <ul>
                                                        @{
                                                    foreach (MainProgram.Edm.tbh_Products item in ViewBag.Bks)
                                                    {

                                                        <li style="width:100%">
                                                            <div class="col-lg-4" style="float:left; border-right:2px, solid #f1f1f1; ">
                                                                <div class="card">

                                                                    <div class="card-body block text-center" style="margin-bottom:15px; padding-bottom:120px">





                                                                        <a href="@Url.Action("Details", "Home", new { id = item.ProductID })">
                                                                            <img alt="@item.AltText" src="@item.FullImageUrl" style="width: 120px; height: 150px;padding-right:15px; padding-left:15px; padding-top:10px;  padding-bottom:5px;float:left; ">
                                                                        </a>

                                                                        <div class="aa-cartbox-info">


                                                                            <p style="text-align:left; padding-left:15px;padding-right:15px; padding-top:0px">
                                                                                @item.Content<br />
                                                                                <a class="" href="@Url.Action("Details", "Home", new { id = item.ProductID })">&nbsp;&nbsp;View Details&nbsp;&nbsp;|</a>


                                                                                @if (item.ProductID > 0)
                                                                                {
                                                                                    <a class="button">
                                                                                        @Html.ActionLink("Add to cart", "AddToCart",
                                                                                  "Cart", new { id = item.ProductID }, "")

                                                                                    </a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a class="btn btn-sm btn-primary  aa-add-to-cart-btn" ))">Add To Cart</a>

                                                                                }
                                                                            </p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>



                                                        </li>

                                                    }
                                                        }
                                                    </ul>

                                                
                                            </div>


                                        </div>



                                       





                                    </div>



                                </div>




                             @* <div class="row mt-4 mb-6 mb-12" style="background-color: ghostwhite;">
                                   
                                                <strong style="font-size:x-large"><b> Entity Framework</b></strong>

                                                <hr />
                                                <div class="panel panel-default" style="width: 100%; margin-left: 0px; border:none">
                                                    @using (Html.BeginForm("Index", "Post_CSS", FormMethod.Get))
                                                    {
                                                        <ul >
                                                            @{
                                                        foreach (MainProgram.Edm.tbh_Products item in ViewBag.Shop)
                                                        {

                                                            <li style="width:100%">
                                                                <div class="col-lg-4" style="float:left; border-right:2px, solid #f1f1f1; ">
                                                                    <div class="card">

                                                                        <div class="card-body text-center">

                                                                            <a href="/News/NewsEntityF"><img alt="@item.AltText" src="@item.FullImageUrl" style="width: 120px; height: 150px;padding-right:15px; padding-left:15px; padding-top:10px;  padding-bottom:5px;float:left; "></a>

                                                                            <div class="aa-cartbox-info">


                                                                                <p style="text-align:left; padding-left:15px;padding-right:15px; padding-top:0px">
                                                                                    @item.Content<br />
                                                                                    <a class="" href="/News/NewsEntityF">&nbsp;&nbsp;Details &raquo;</a>
                                                                                </p>
                                                                                <br /><br /><br /><br /><br /><br /><br /><br />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                            </li>

                                                        }
                                                            }
                                                        </ul>

                                                    }
                                                </div>


                                            </div>*@
                                        
            







                            </td>
                        </tr>



                    </table>

                </div>



            </div>


        </div>

    </div>


















    <style>
        .content-wrapper {
            margin-top: 0%;
            margin-left: 0%;
            background-position: top;
        }

        #left {
            width: 20%;
            margin-left: 0%;
            margin-top: 0%;
            background-position: top;
            position: relative;
            background-color: #eee3e3;
            HEIGHT: 750px;
            max-height: 750px;
            min-height: 750px;
        }


        .Middle {
            HEIGHT: 1124px;
            max-height: 1124px;
            min-height: 1124px;
        }


        .Right {
            HEIGHT: 700px;
            max-height: 700px;
            min-height: 700px;
        }



        .Main-Bar {
            content: " ";
            position: relative;
            margin-top: 0%;
            width: 100%;
            overflow: no-display;
            padding-right: 10px;
            margin-left: 0%;
            margin-right: 1%;
            background-position: top;
            margin-bottom: 0px;
            padding-left: 5px;
            background-color: #fff;
        }


        .SiteT {
            width: 100%;
            border: none;
            margin-right: 0px;
            padding-right: 0px;
            margin-bottom: 0px;
            border: none;
        }




        .main--container {
            margin-left: 17px;
        }


        .ScrollgridL {
            OVERFLOW: auto;
            border: none;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            WIDTH: 100%;
            BORDER-BOTTOM: #000000 none;
            HEIGHT: 750px;
            max-height: 750px;
            min-height: 750px;
            scrollbar-3dlight-color: none;
            scrollbar-arrow-color: #9C3842;
            scrollbar-base-color: #ffffff;
            scrollbar-darkshadow-color: none;
            scrollbar-face-color: transparent;
            scrollbar-highlight-color: #ffffff;
            scrollbar-shadow-color: #ffffff;
        }

        .ScrollgridR {
            OVERFLOW: auto;
            border: none;
            WIDTH: 100%;
            BORDER-BOTTOM: #000000 none;
            HEIGHT: 700px;
            max-height: 700px;
            min-height: 700px;
            scrollbar-3dlight-color: #fff;
            scrollbar-arrow-color: #9C3842;
            scrollbar-base-color: #003366;
            scrollbar-face-color: #ffffff;
            scrollbar-face-color: #ffffff;
            scrollbar-highlight-color: #ffffff;
            scrollbar-shadow-color: #ffffff;
        }

        .ScrollgridM {
            OVERFLOW: auto;
            border: none;
            WIDTH: 100%;
            BORDER-BOTTOM: #000000 none;
            HEIGHT: 700px;
            max-height: 700px;
            min-height: 700px;
            scrollbar-3dlight-color: #fff;
            scrollbar-arrow-color: #9C3842;
            scrollbar-base-color: #003366;
            scrollbar-face-color: #ffffff;
            scrollbar-face-color: #ffffff;
            scrollbar-highlight-color: #ffffff;
            scrollbar-shadow-color: #ffffff;
        }


        .carousel.fade {
            opacity: 1;
        }


            .carousel.fade .item {
                /* transition: opacity ease-out .7s;  can remove to stop 1st slide rapid changing */
                left: 0;
                top: 0;
                position: absolute;
                width: 100%;
                display: block;
            }

                .carousel.fade .item:first-child {
                    top: auto;
                    opacity: 1; /* show first slide */
                    position: relative;
                }

                .carousel.fade .item.active {
                    opacity: 1;
                }







        .carousel,
        .carousel-inner,
        .carousel-inner .item {
            height: 100%;
        }

        .item:nth-child(1) {
            background: #f1f1f1;
        }

        .item:nth-child(2) {
            background: #51BCE8;
        }

        .item:nth-child(3) {
            background: #E46653;
        }


        /*.carousel-fade   .carousel-inner  .item{

                transition-property: opacity;
            }*/

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

            .next,
            .prev,
            .active.left,
            .active.right {
                left: 0;
                transform: translate3d(0, 0, 0);
            }


        .carousel-control {
            z-index: 2;
        }


           .card {
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                 background: #ffffff;
            }


            .col-lg-2 {
                flex: 0 0 10% !important;
                max-width: 20%;
            }



    </style>
    @Scripts.Render("~/bundles/bootstrap-file")

    @Styles.Render("~/Content/Bootstrap-file/css")



    @section scripts{
        <script>
            function addToCart(id) {
                cart.addItem(id);
            }
        </script>
    }






</div>










